<div class="flex-spacer"></div>

<div class="dialog primary borderStriped">
    <h1>NDS Unit 12</h1>
    <form>
        <div>
            <table>
                <tbody>
                    <tr><td>User:</td><td><input type="text" class="singleLineInput"></td></tr>
                    <tr><td>AccessCode:</td><td><input type="password" class="singleLineInput"></td></tr>
                </tbody>
            </table>
        </div>
        <div style="padding-top: 1em">
            <input type="submit" value="Create Account" formaction="/user/create.html" class="secondaryButton" >
            <input type="submit" value="Login" formaction="/user/login.html">
        </div>
    </form>
</div>

<div class="flex-spacer"></div>