<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>{TITLE}</title>
</head>
<body>
<div class="overall">
    <form class="topbar primary">
        <input type="submit" formaction="/index.html" value="NDS Core 12" />
        <input type="submit" formaction="/storage.html" value="Storage" class="secondaryButton"/>
        <div class="flex-spacer"></div>
        {TITLE}
        <div class="flex-spacer"></div>
        <input type="submit" formaction="/settings.html" value="Settings" class="secondaryButton"/>
    </form>

    {CONTENT}
</div>
</body>